{% extends "base.html" %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8" style="padding-top: 15rem; padding-bottom: 20vh;">
                    <div class="mb-3" style="text-align: center;">
                        <h3>
                            <b>My Page - 비밀번호 변경</b>
                        </h3>
                    </div>
                    <form method="post" action="{% url 'common:password' %}">
                        {% csrf_token %}
                        {% include "form_errors.html" %}
                        <div class="mb-3">
                            <label for="old_password">기존 비밀번호</label>
                            <input
                                type="password"
                                class="form-control"
                                name="old_password"
                                id="old_password"
                                value="{{ form.old_password.value|default_if_none:'' }}"
                                autofocus="autofocus">
                        </div>
                        <div class="mb-3">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 50%;">
                                        <label for="new_password1">새 비밀번호</label>
                                        <input
                                            type="password"
                                            class="form-control"
                                            name="new_password1"
                                            id="new_password1"
                                            style="width: 98%;"
                                            value="{{ form.new_password1.value|default_if_none:'' }}"></td>
                                    <td style="width: 50%;">
                                        <label for="new_password2">새 비밀번호 (확인)</label>
                                        <input
                                            type="password"
                                            class="form-control"
                                            name="new_password2"
                                            id="new_password2"
                                            value="{{ form.new_password2.value|default_if_none:'' }}">
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="mb-3" style="margin-top: 4%;">
                            <button type="submit" class="btn btn-success" style="width: 100%;">변경 완료</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}
    <script>
        console.log("email : {{ form.email.value|default_if_none:'' }}");
        console.log("realname : {{ form.realname.value|default_if_none:'' }}")
        console.log("phonenum : {{ form.phonenum.value|default_if_none:'' }}")
        console.log(
            "effcdate : {{ form.effcdate.value|date:'Y-m-d'|default_if_none:'' }}"
        )
        console.log(
            "openingtime : {{ form.openingtime.value|time:'H:i:s'|default_if_none:'' }}"
        )
        console.log(
            "closingtime : {{ form.closingtime.value|time:'H:i:s'|default_if_none:'' }}"
        )

        const effcdate = "{{ form.effcdate.value|date:'Y-m-d'|default_if_none:'' }}";
        document
            .getElementById("effcdate")
            .value = String(effcdate);
    </script>
{% endblock %}