<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-6 text-lg-left text-center">
        <div class="copyright">
          <b>Made by</b>&nbsp;&nbsp;<a href="mailto:ehdrud1129@saltlux.com?subject=안녕하세요, nicework 플랫폼 사용 관련 문의 메일 드려요.">ehdrud1129@saltlux.com</a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
          <a href="#" class="scrollto"  onclick="policyPopup();">개인정보처리방침</a>
          <a href="#" class="scrollto"  onclick="termsyPopup();">이용약관</a>
        </nav>
      </div>
    </div>
  </div>
</footer><!-- End Footer -->


<script language="javascript">
  function policyPopup() { window.open("common/policy", "privacy_policy", "status=1,width:500,height:600,toolbar=0,resizeable=0"); }
  function termsyPopup() { window.open("common/terms", "terms_of_service", "status=1,width:500,height:600,toolbar=0,resizeable=0"); }
</script>